<div class="row">
  <div class="card col-md-3 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Stock Market </h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onsubmit()">

          <div class="form-group">
            <label> No of Stocks</label>
            <input type="text" class="form-control" id="stocks" [(ngModel)]="stock.stocks" name="stocks">
          </div>

          <div class="form-group">
            <label> Stock Price</label>
            <input type="text" class="form-control" id="price" [(ngModel)]="stock.price" name="price">
          </div>

          <br />
          <button class="btn btn-success btn-sm w-100" type="submit">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>